In [1]:
%pip install pandas 
%pip install seaborn
%pip install numpy
%pip install matplotlib 
%pip install Scikit-learn

Requirement already satisfied: pandas in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.13.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from seaborn) (1.26.3)
Requirement already satisfied: pandas>=1.2 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from seaborn) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.47.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: six>=1.5 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.13.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (1.26.3)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: matplotlib in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib) (4.47.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib) (1.26.3)
Requirement already satisfied: packaging>=20.0 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.13.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: Scikit-learn in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from Scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.5.0 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from Scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from Scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/cyclops/Documents/nmims hackathon/env/lib/python3.11/site-packages (from Scikit-learn) (3.2.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [70]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [71]:
import pandas as pd

sales_file_path = '/home/cyclops/Documents/nmims hackathon/DL network/sales.csv'
stock_file_path = '/home/cyclops/Documents/nmims hackathon/DL network/stock_levels_by_sensors.csv'
temp_file_path = '/home/cyclops/Documents/nmims hackathon/DL network/storage_temps_by_sensors.csv'

sales_df = pd.read_csv(sales_file_path)
stock_df = pd.read_csv(stock_file_path)
temp_df = pd.read_csv(temp_file_path)

In [72]:
sales_df.head()

,Unnamed: 0,transaction_id,product_id,category,unit_price,quantity,total,timestamp
0,0,fbe2f35d-29fe-4a51-95fa-8a37563467b6,c95b1e52-c0ad-44ac-b569-328732b3c284,fruit,2.94,4,11.76,2012-11-30 14:06:28
1,1,0aace3a4-7f59-4c3c-add5-348f02ecbb7a,9e81ff91-4a02-4739-aac0-0fb3065026d6,fruit,1.97,2,3.94,2015-08-20 05:52:40
2,2,ec19d65c-2a62-4de9-942d-624ab4cfe999,1ffed4ab-c2e2-43aa-8f11-ec763e4e7249,fruit,2.93,5,14.65,2010-12-16 16:38:33
3,3,aa3aadc9-c3d0-45f4-9835-2bec0477b701,fc49c2d5-7150-49e4-beee-20ec2cd577ed,fruit,1.48,1,1.48,2012-05-19 12:24:24
4,4,7183edba-8336-4eb0-a44e-b63b00fcd1ee,954bcb8c-62b7-4ad6-8fc3-a80b1858c3f0,fruit,2.74,2,5.48,2015-02-25 02:51:25

In [73]:
null_values = sales_df.isnull().sum()
print(null_values)

Unnamed: 0        0
transaction_id    0
product_id        0
category          0
unit_price        0
quantity          0
total             0
timestamp         0
dtype: int64

In [74]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7829 entries, 0 to 7828
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      7829 non-null   int64
 1   transaction_id  7829 non-null   object
 2   product_id      7829 non-null   object
 3   category        7829 non-null   object
 4   unit_price      7829 non-null   float64
 5   quantity        7829 non-null   int64
 6   total           7829 non-null   float64
 7   timestamp       7829 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 489.4+ KB

In [75]:
sales_df['timestamp'] = pd.to_datetime(sales_df['timestamp'])

In [76]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7829 entries, 0 to 7828
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      7829 non-null   int64
 1   transaction_id  7829 non-null   object
 2   product_id      7829 non-null   object
 3   category        7829 non-null   object
 4   unit_price      7829 non-null   float64
 5   quantity        7829 non-null   int64
 6   total           7829 non-null   float64
 7   timestamp       7829 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 489.4+ KB

In [77]:
category_values = sales_df['category'].unique()
print(category_values)

['fruit' 'vegetables' 'refrigerated items' 'frozen' 'spices and herbs'
 'canned foods' 'packaged foods' 'condiments and sauces' 'beverages'
 'dairy' 'cheese' 'meat' 'seafood' 'baked goods' 'baking' 'snacks'
 'baby products' 'pets' 'personal care' 'medicine' 'kitchen'
 'cleaning products']

 STOCK checker

In [78]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           15000 non-null  int64
 1   product_id           15000 non-null  object
 2   estimated_stock_pct  15000 non-null  float64
 3   id                   15000 non-null  object
 4   timestamp            15000 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 586.1+ KB

In [79]:
stock_df['timestamp'] = pd.to_datetime(stock_df['timestamp'])
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           15000 non-null  int64
 1   product_id           15000 non-null  object
 2   estimated_stock_pct  15000 non-null  float64
 3   id                   15000 non-null  object
 4   timestamp            15000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 586.1+ KB

/tmp/ipykernel_137888/1276371241.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  stock_df['timestamp'] = pd.to_datetime(stock_df['timestamp'])

TEMPERATURE SENSOR

In [80]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23890 entries, 0 to 23889
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   23890 non-null  int64
 1   temperature  23890 non-null  float64
 2   id           23890 non-null  object
 3   timestamp    23890 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 746.7+ KB

In [81]:
temp_df['timestamp'] = pd.to_datetime(temp_df['timestamp'])
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23890 entries, 0 to 23889
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   23890 non-null  int64
 1   temperature  23890 non-null  float64
 2   id           23890 non-null  object
 3   timestamp    23890 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 746.7+ KB

/tmp/ipykernel_137888/1476764517.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  temp_df['timestamp'] = pd.to_datetime(temp_df['timestamp'])

## MERGE

In [82]:
from datetime import datetime
import pandas as pd

def convert_timestamp_to_hourly(data: pd.DataFrame = None, column: str = None):
  dummy = data.copy()
  new_ts = dummy[column].tolist()
  new_ts = [i.strftime('%Y-%m-%d %H:00:00') for i in new_ts]
  new_ts = [datetime.strptime(i, '%Y-%m-%d %H:00:00') for i in new_ts]
  dummy[column] = new_ts
  return dummy
#fixed conversion to hour - rahul
sales_df = convert_timestamp_to_hourly(sales_df, 'timestamp')
sales_df.head()

,Unnamed: 0,transaction_id,product_id,category,unit_price,quantity,total,timestamp
0,0,fbe2f35d-29fe-4a51-95fa-8a37563467b6,c95b1e52-c0ad-44ac-b569-328732b3c284,fruit,2.94,4,11.76,2012-11-30 14:00:00
1,1,0aace3a4-7f59-4c3c-add5-348f02ecbb7a,9e81ff91-4a02-4739-aac0-0fb3065026d6,fruit,1.97,2,3.94,2015-08-20 05:00:00
2,2,ec19d65c-2a62-4de9-942d-624ab4cfe999,1ffed4ab-c2e2-43aa-8f11-ec763e4e7249,fruit,2.93,5,14.65,2010-12-16 16:00:00
3,3,aa3aadc9-c3d0-45f4-9835-2bec0477b701,fc49c2d5-7150-49e4-beee-20ec2cd577ed,fruit,1.48,1,1.48,2012-05-19 12:00:00
4,4,7183edba-8336-4eb0-a44e-b63b00fcd1ee,954bcb8c-62b7-4ad6-8fc3-a80b1858c3f0,fruit,2.74,2,5.48,2015-02-25 02:00:00

In [83]:
#fixed hour conversion in temperature - rahul
temp_df = convert_timestamp_to_hourly(temp_df, 'timestamp')
temp_df.head()

,Unnamed: 0,temperature,id,timestamp
0,0,2.96,1dca8a55-63f5-485b-82f9-a49c64df7c95,2019-05-23 10:00:00
1,1,1.88,786cc07d-54c9-4a51-ad6b-c5ccb7e0c17b,2019-03-31 13:00:00
2,2,1.78,d3306dab-fc36-4e9b-adde-e4d27652b00d,2022-02-18 19:00:00
3,3,2.18,5728e3dd-21d3-4783-b6de-7b7fcfb0c4b4,2017-03-09 00:00:00
4,4,1.38,5bc9e167-17d4-4a70-b734-90d7b021f473,2015-01-24 09:00:00

In [84]:
stock_df = convert_timestamp_to_hourly(stock_df, 'timestamp')
stock_df.head()

,Unnamed: 0,product_id,estimated_stock_pct,id,timestamp
0,0,f658605e-75f3-4fed-a655-c0903f344427,0.75,3c7caeb6-e40b-4576-95e8-37bc102c5d9d,2021-07-22 10:00:00
1,1,de06083a-f5c0-451d-b2f4-9ab88b52609d,0.48,8f854997-b4f2-42f2-a524-8bf34b72516c,2016-10-11 05:00:00
2,2,ce8f3a04-d1a4-43b1-a7c2-fa1b8e7674c8,0.58,18e81b4f-701a-44a4-ad8e-9d54531804d0,2020-04-24 22:00:00
3,3,c21e3ba9-92a3-4745-92c2-6faef73223f7,0.79,3f1cc365-516e-46fc-bac4-75664564096a,2019-06-22 10:00:00
4,4,7f478817-aa5b-44e9-9059-8045228c9eb0,0.22,c29547a1-efe2-4e48-8e74-f25d2cf36781,2014-03-22 19:00:00

In [85]:
stock_agg = stock_df.groupby(['timestamp', 'product_id']).agg({'estimated_stock_pct': 'mean'}).reset_index()
stock_agg.head()

,timestamp,product_id,estimated_stock_pct
0,2010-01-01 01:00:00,1cf0b205-85d0-4f17-86e7-5f4a3b309f5e,0.86
1,2010-01-01 20:00:00,e3dcd026-ef70-4bcf-8e77-71d6740f042d,0.16
2,2010-01-02 03:00:00,24558ae1-8b93-4227-8349-bb17ca93cf17,0.23
3,2010-01-02 03:00:00,75d576b8-dab5-4663-9523-ec5f07819535,0.70
4,2010-01-02 03:00:00,cee3e2b2-67e4-41a8-9ec5-8f9ddcd84435,0.24

In [86]:
sales_agg = sales_df.groupby(['timestamp', 'product_id']).agg({'quantity': 'sum'}).reset_index()
sales_agg.head()

            timestamp                            product_id  quantity
0 2010-01-01 22:00:00  b3ceb065-a3e4-494d-b870-1015bd569c7a         2
1 2010-01-02 11:00:00  327b3560-da0a-4054-b756-9027041e85a9         5
2 2010-01-02 19:00:00  2abf9cc6-f093-4f4e-a6ac-752bac7abf10         4
3 2010-01-04 10:00:00  eaa09ec8-9903-4ab3-a9a9-b6dca279647a         2
4 2010-01-05 09:00:00  021860a0-9752-4bb9-b54c-81ac605c2b0d         4

In [87]:
temp_agg = temp_df.groupby(['timestamp']).agg({'temperature': 'mean'}).reset_index()
temp_agg.head()

            timestamp  temperature
0 2010-01-01 04:00:00      -12.905
1 2010-01-01 05:00:00       -0.280
2 2010-01-01 08:00:00        0.190
3 2010-01-01 10:00:00       -1.390
4 2010-01-01 11:00:00        0.690

In [88]:
merged_df = stock_agg.merge(sales_agg, on=['timestamp', 'product_id'], how='left')
merged_df.head()

,timestamp,product_id,estimated_stock_pct,quantity
0,2010-01-01 01:00:00,1cf0b205-85d0-4f17-86e7-5f4a3b309f5e,0.86,NaN
1,2010-01-01 20:00:00,e3dcd026-ef70-4bcf-8e77-71d6740f042d,0.16,NaN
2,2010-01-02 03:00:00,24558ae1-8b93-4227-8349-bb17ca93cf17,0.23,NaN
3,2010-01-02 03:00:00,75d576b8-dab5-4663-9523-ec5f07819535,0.70,NaN
4,2010-01-02 03:00:00,cee3e2b2-67e4-41a8-9ec5-8f9ddcd84435,0.24,NaN

In [89]:
merged_df = merged_df.merge(temp_agg, on='timestamp', how='left')
merged_df.head()

,timestamp,product_id,estimated_stock_pct,quantity,temperature
0,2010-01-01 01:00:00,1cf0b205-85d0-4f17-86e7-5f4a3b309f5e,0.86,NaN,NaN
1,2010-01-01 20:00:00,e3dcd026-ef70-4bcf-8e77-71d6740f042d,0.16,NaN,2.62
2,2010-01-02 03:00:00,24558ae1-8b93-4227-8349-bb17ca93cf17,0.23,NaN,NaN
3,2010-01-02 03:00:00,75d576b8-dab5-4663-9523-ec5f07819535,0.70,NaN,NaN
4,2010-01-02 03:00:00,cee3e2b2-67e4-41a8-9ec5-8f9ddcd84435,0.24,NaN,NaN

In [90]:
merged_df['quantity'] = merged_df['quantity'].fillna(0)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14998 entries, 0 to 14997
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            14998 non-null  datetime64[ns]
 1   product_id           14998 non-null  object
 2   estimated_stock_pct  14998 non-null  float64
 3   quantity             14998 non-null  float64
 4   temperature          2661 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 586.0+ KB

In [91]:
product_categories = sales_df[['product_id', 'category']]
product_categories = product_categories.drop_duplicates()

product_price = sales_df[['product_id', 'unit_price']]
product_price = product_price.drop_duplicates()

In [92]:
merged_df = merged_df.merge(product_categories, on="product_id", how="left")
merged_df.head()

,timestamp,product_id,estimated_stock_pct,quantity,temperature,category
0,2010-01-01 01:00:00,1cf0b205-85d0-4f17-86e7-5f4a3b309f5e,0.86,0.0,NaN,NaN
1,2010-01-01 20:00:00,e3dcd026-ef70-4bcf-8e77-71d6740f042d,0.16,0.0,2.62,NaN
2,2010-01-02 03:00:00,24558ae1-8b93-4227-8349-bb17ca93cf17,0.23,0.0,NaN,NaN
3,2010-01-02 03:00:00,75d576b8-dab5-4663-9523-ec5f07819535,0.70,0.0,NaN,NaN
4,2010-01-02 03:00:00,cee3e2b2-67e4-41a8-9ec5-8f9ddcd84435,0.24,0.0,NaN,NaN

In [93]:
merged_df = merged_df.merge(product_price, on="product_id", how="left")
merged_df.head()

,timestamp,product_id,estimated_stock_pct,quantity,temperature,category,unit_price
0,2010-01-01 01:00:00,1cf0b205-85d0-4f17-86e7-5f4a3b309f5e,0.86,0.0,NaN,NaN,NaN
1,2010-01-01 20:00:00,e3dcd026-ef70-4bcf-8e77-71d6740f042d,0.16,0.0,2.62,NaN,NaN
2,2010-01-02 03:00:00,24558ae1-8b93-4227-8349-bb17ca93cf17,0.23,0.0,NaN,NaN,NaN
3,2010-01-02 03:00:00,75d576b8-dab5-4663-9523-ec5f07819535,0.70,0.0,NaN,NaN,NaN
4,2010-01-02 03:00:00,cee3e2b2-67e4-41a8-9ec5-8f9ddcd84435,0.24,0.0,NaN,NaN,NaN

In [94]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14998 entries, 0 to 14997
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            14998 non-null  datetime64[ns]
 1   product_id           14998 non-null  object
 2   estimated_stock_pct  14998 non-null  float64
 3   quantity             14998 non-null  float64
 4   temperature          2661 non-null   float64
 5   category             0 non-null      object
 6   unit_price           0 non-null      float64
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 820.3+ KB

In [95]:
merged_df['timestamp_day_of_month'] = merged_df['timestamp'].dt.day
merged_df['timestamp_day_of_week'] = merged_df['timestamp'].dt.dayofweek
merged_df['timestamp_hour'] = merged_df['timestamp'].dt.hour
merged_df.drop(columns=['timestamp'], inplace=True)
merged_df.head()

,product_id,estimated_stock_pct,quantity,temperature,category,unit_price,timestamp_day_of_month,timestamp_day_of_week,timestamp_hour
0,1cf0b205-85d0-4f17-86e7-5f4a3b309f5e,0.86,0.0,NaN,NaN,NaN,1,4,1
1,e3dcd026-ef70-4bcf-8e77-71d6740f042d,0.16,0.0,2.62,NaN,NaN,1,4,20
2,24558ae1-8b93-4227-8349-bb17ca93cf17,0.23,0.0,NaN,NaN,NaN,2,5,3
3,75d576b8-dab5-4663-9523-ec5f07819535,0.70,0.0,NaN,NaN,NaN,2,5,3
4,cee3e2b2-67e4-41a8-9ec5-8f9ddcd84435,0.24,0.0,NaN,NaN,NaN,2,5,3

In [96]:
merged_df = pd.get_dummies(merged_df, columns=['category'])
merged_df.head()

,product_id,estimated_stock_pct,quantity,temperature,unit_price,timestamp_day_of_month,timestamp_day_of_week,timestamp_hour
0,1cf0b205-85d0-4f17-86e7-5f4a3b309f5e,0.86,0.0,NaN,NaN,1,4,1
1,e3dcd026-ef70-4bcf-8e77-71d6740f042d,0.16,0.0,2.62,NaN,1,4,20
2,24558ae1-8b93-4227-8349-bb17ca93cf17,0.23,0.0,NaN,NaN,2,5,3
3,75d576b8-dab5-4663-9523-ec5f07819535,0.70,0.0,NaN,NaN,2,5,3
4,cee3e2b2-67e4-41a8-9ec5-8f9ddcd84435,0.24,0.0,NaN,NaN,2,5,3

DROPPING DATA

In [97]:
merged_df.drop(columns=['product_id'], inplace=True)
merged_df.head()

,estimated_stock_pct,quantity,temperature,unit_price,timestamp_day_of_month,timestamp_day_of_week,timestamp_hour
0,0.86,0.0,NaN,NaN,1,4,1
1,0.16,0.0,2.62,NaN,1,4,20
2,0.23,0.0,NaN,NaN,2,5,3
3,0.70,0.0,NaN,NaN,2,5,3
4,0.24,0.0,NaN,NaN,2,5,3

In [98]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14998 entries, 0 to 14997
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   estimated_stock_pct     14998 non-null  float64
 1   quantity                14998 non-null  float64
 2   temperature             2661 non-null   float64
 3   unit_price              0 non-null      float64
 4   timestamp_day_of_month  14998 non-null  int32
 5   timestamp_day_of_week   14998 non-null  int32
 6   timestamp_hour          14998 non-null  int32
dtypes: float64(4), int32(3)
memory usage: 644.6 KB

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

merged_df = pd.DataFrame()  

X = merged_df.drop(columns=['estimated_stock_pct'])
y = merged_df['estimated_stock_pct']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(f"RMSE: {rmse}")

CREATE DIFF  TRAIN AND TEST

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X = merged_df.drop(columns=['estimated_stock_pct'])
y = merged_df['estimated_stock_pct']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [ ]:

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(f"RMSE: {rmse}")

RMSE: 0.3172387812323

Rmse is the average difference between the predicted stock levels and the actual stock levels is approximately (put final thing here after all tests @rahul) A lower RMSE value suggests better accuracy of the model in predicting the stock levels.

Calculating the MAE

In [ ]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")

MAE: 0.293834839223


The mean absolute error (MAE) for the given model is .(put final here @rahul) This indicates that, on average, the model's predictions deviate from the actual stock levels by approximately .(put final here @rahul)  Lower values of MAE suggest better performance, as it signifies less average deviation between the predicted and actual values.